{% extends "FGNewsBundle:Default:index.html.twig" %}
{% block Master_body %}
    {% for flashMessage in app.session.flashbag.get('info') %}
              <div>{{flashMessage}}</div>
         {% endfor %}
	{% block index_news_title %}<h1>Futurs newsletters Chronocarpe </h1>{% endblock %}	


{% block NewsBody %}
{% if Newsletters is defined %}
		{% for Newsletter in Newsletters %}
			
			<a href="{{ path('fg_news_view', {'id': Newsletter.id})}}">
				<div class='titre'>{{Newsletter.titre}}</div>
				<small>{{Newsletter.date|date("d/m/Y")}}<br/>Type: {{Newsletter.type}}
					<br/> Deal Day : {% if Newsletter.refdd is empty %} Pas de Deal{% endif %}{{Newsletter.refdd}}
				</small>
			</a>
			<br/>	
		{% endfor %}
	{% endif %}

{% endblock %}


{% endblock %}